<div class="text-center">
  <h1 id="titles">Edit Device</h1>
  <%= form_for [:admin, @device] do |f| %>
      <%= f.label :device_code, class: 'font-format' %>
      <div class="form-group">
        <%= f.text_field :device_code, class: 'form-control' %>
      </div>

      <%= f.label :nickname, class: 'font-format' %>
      <div class="form-group">
        <%= f.text_field :nickname, class: 'form-control' %>
      </div>

      <%= f.label :role, class: 'font-format' %>
      <div class="form-group">
        <%= f.select(:role, options_for_select(Role.all_roles), {}, {class: "form-control"}) %>
      </div>

      <div class="form-group ">
        <%= f.submit "Submit", class: 'font-format', id: 'button-submit' %>
      </div>
  <% end %>
</div>
