
  <div class="text-center">
    <%= image_tag "trelora_logo.png", id: "trelora-logo" %>
  </div>

  <h1 class="text-center" id="titles">Devices</h1>

  <p id="refresh">
    Refresh: Use button below to refresh or setup the slides and roles from the Trelora Signage API.
  </p>

  <div class="text-center">
    <%= button_to "Refresh", admin_refresh_slides_path, class: 'font-format', id: "button-refresh", method: :get %>
  </div>

  <p id="timer">
    <i class="fa fa-clock-o" aria-hidden="true"></i>  Current Slide Time: <%= @devices.time %> second(s) per slide
  </p>

  <%= form_for([:admin, @devices.display]) do |f| %>
    <div class="form-group text-center">
      <%= f.label :time, class: 'font-format' %>
      <%= f.text_field :time, class: 'form-control' %>
      <%= f.submit "Submit", class: 'font-format', id: 'button-submit' %>
    </div>
  <% end %>

  <div class="text-center" id="tv-icon">
    <i class="fa fa-television" aria-hidden="true"></i>
  </div>

  <table class="table" id="admin-table">
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Nickname</th>
      <th>Role</th>
      <th>Last Visited</th>
      <th>Delete Device</th>
    </tr>
    <% @devices.all.each do |device| %>
      <tr>
        <td><%= link_to device.id, edit_admin_device_path(device.id) %></td>
        <td><%= device.device_code %></td>
        <td><%= device.nickname %></td>
        <td><%= device.role %></td>
        <td><%= formatted_time(device.last_visit) %></td>
        <td><%= link_to "Delete", admin_device_path(device.id), method: :delete %></td>
      </tr>
    <% end %>
  </table>
